*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  font-weight: normal;

  --primaria-100: #f8eeff;
  --primaria-500: #ad28eb;
  --primaria-700: #8b6990;
  --primaria-950: #301534;
  --white: #fff;
}

body {
  background-color: var(--primaria-100);
  line-height: 1;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

ul,
li,
summary {
  list-style-type: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.pattern {
  display: grid;
  height: 14.5rem;
  position: absolute;
  inset: 0 0 auto 0;
  z-index: -1;
}

@media (min-width: 40rem) {
  .pattern {
    height: 20rem;
  }
}

.pattern img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.card-container {
  margin: 8.875rem 0px;
  display: flex;
  justify-content: center;
}

@media (min-width: 40rem) {
  .card-container {
    margin: 10.4688rem 0px;
  }
}

.card {
  margin: 0 1.5rem;
  width: min(100%, 37.5rem);
  padding: 1.5rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  overflow: clip;
}

@media (min-width: 40rem) {
  .card {
    padding: 2.5rem;
    border-radius: 1rem;
  }
}

.card-header {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.icon-star {
  width: 1.5rem;
  aspect-ratio: 1;
}

@media (min-width: 40rem) {
  .icon-star {
    width: 2.5rem;
  }
}

.heading-md {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primaria-950);
  line-height: 2.375rem;
}

@media (min-width: 40rem) {
  .heading-md {
    font-size: 3.5rem;
    line-height: 4.125rem;
  }
}

.faq-list {
  margin-top: 1.5rem;
}

@media (min-width: 40rem) {
  .faq-list {
    margin-top: 2rem;
  }
}

.faq-list li:not(:last-child) {
  padding-bottom: 1.25rem;
  border-bottom: 1px solid var(--primaria-100);
}

.faq-list li:not(:first-child) {
  padding-top: 1.25rem;
}

@media (min-width: 40rem) {
  .faq-list li:not(:last-child) {
    padding-bottom: 1.5rem;
  }

  .faq-list li:not(:first-child) {
    padding-top: 1.5rem;
  }
}

.faq-item summary {
  font-weight: 600;
  color: var(--primaria-950);
  line-height: 1.1875rem;
  display: grid;
  grid-template-columns: 1fr 1.875rem;
  gap: 1.5rem;
  align-items: center;
}

@media (min-width: 40rem) {
  .faq-item summary {
    font-size: 1.125rem;
    line-height: 1.3125rem;
  }
}

.faq-item summary::after {
  content: "";
  width: 1.875rem;
  height: 1.875rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.faq-item summary::after {
  background-image: url(/assets/images/icon-plus.svg);
}

.faq-item[open] summary::after {
  background-image: url(/assets/images/icon-minus.svg);
}

.faq-item .content {
  padding-top: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--primaria-700);
}

@media (min-width: 40rem) {
  .faq-item .content {
    font-size: 1rem;
  }
}
